@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot");
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot");
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot");
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot");
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/Glyphicons/glyphicons-halflings-regular.eot");
  src: url("../fonts/Glyphicons/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Glyphicons/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/Glyphicons/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/Glyphicons/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/Glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000; }

h1 {
  font-size: 38px;
  font-weight: bold; }

h2 {
  font-size: 30px;
  color: #131631;
  font-weight: bold; }

h3 {
  font-size: 20px;
  font-weight: bold; }

h4 {
  font-size: 20px;
  font-weight: 300;
  color: #5a5a5a; }

h5 {
  font-size: 18px;
  color: #000; }

h6 {
  font-size: 16px;
  font-weight: bold; }

a {
  color: #2b9af3;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    opacity: 0.7;
    text-decoration: none;
    color: inherit;
    outline: none; }
  a:active {
    opacity: 0.6;
    outline: none;
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none; }

button, input, textarea, select {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

p {
  font-size: 16px; }

.text-center {
  text-align: center; }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

header {
  height: 750px;
  background: url(../img/header-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.justify-align {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.header-top {
  padding: 40px 0 0; }

.navbar {
  min-height: 0;
  margin-bottom: 0;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.navbar-nav {
  float: none;
  margin: 0; }

.nav.navbar-nav::before, .nav.navbar-nav::after {
  display: none; }

.navbar-nav > li {
  float: none;
  display: inline-block;
  vertical-align: middle; }
  .navbar-nav > li > a {
    display: block;
    padding: 20px 0 12px;
    margin: 0 10px 0;
    font-size: 18px;
    color: #fff;
    border-top: 1px solid transparent; }
    .navbar-nav > li > a:hover {
      background-color: transparent;
      border-color: #fff; }
    .navbar-nav > li > a.active {
      border-color: #fff; }

.header-tel {
  position: relative;
  padding: 0 0 0 15px; }
  .header-tel::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 66px;
    background: #2b9af3; }
  .header-tel a {
    display: block;
    color: #fff;
    font-weight: 500;
    line-height: 30px; }

.btn {
  display: inline-block;
  height: 49px;
  line-height: 49px;
  padding: 0 23px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #2b9af3;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .btn:hover {
    color: #fff; }

.btn-blue:hover {
  color: #000;
  background: #fff; }

.btn-blue:focus {
  color: #fff;
  background: #2b9af3; }

.frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 945px;
  height: 442px;
  margin: 50px auto 0;
  text-align: center;
  background: url(../img/frame-bg.png) no-repeat center; }

.frame-play__wrapper {
  margin-bottom: 95px; }

.learn-more {
  display: block;
  margin-top: 15px;
  opacity: .3;
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 0.025em; }

.frame-description p {
  margin-bottom: 10px;
  color: #fff;
  opacity: .8; }

.uppercase {
  font-weight: 500;
  text-transform: uppercase; }

.color-blue {
  color: #2b9af3; }

.frame-bottom {
  margin: 20px auto 0;
  max-width: 945px;
  text-align: center; }

.footnote {
  text-align: left;
  font-size: 16px;
  color: #fff;
  opacity: .5;
  font-weight: 100; }

.btn-transparent__blue {
  min-width: 263px;
  height: 57px;
  line-height: 57px;
  background-color: transparent;
  border: 2px solid #2b9af3; }
  .btn-transparent__blue:focus {
    color: #fff; }

.content {
  min-height: 200px; }

section {
  padding: 42px 0 0; }
  section h2 {
    margin: 0 0 18px;
    text-align: center; }
  section h4 {
    text-align: center; }

.services-wrapper {
  margin-top: 42px; }

.services-item {
  min-height: 230px;
  margin: 0 0 20px;
  text-align: center; }
  .services-item img {
    display: inline-block;
    margin: 0 0 13px;
    max-width: 97px; }
  .services-item h5 a {
    color: #000; }
  .services-item p {
    margin: 9px 0 0;
    line-height: 20px;
    color: #9c9c9c; }

.blue-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  background: #2b9af3; }
  .blue-box strong {
    padding-right: 45px;
    font-size: 20px;
    color: #fff; }

.btn-transparent__white {
  min-width: 195px;
  background-color: transparent;
  border: 2px solid #fff; }

.portfolio {
  padding-bottom: 50px;
  background: #191e22; }
  .portfolio h2 {
    color: #fff; }

.portfolio-wrapper {
  margin: 44px 0 0; }

.portfolio-item {
  max-height: 360px;
  margin: 0 0 30px;
  position: relative; }
  .portfolio-item img {
    display: block; }

.portfolio-item__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.portfolio-play {
  text-align: center; }

.portfolio-info {
  position: absolute;
  padding: 20px;
  left: 0;
  bottom: 0; }
  .portfolio-info p {
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff; }

.portfolio-tags {
  list-style: none; }
  .portfolio-tags li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    color: #fff; }
    .portfolio-tags li a {
      color: #fff; }
    .portfolio-tags li + li::before {
      content: '|';
      display: inline-block;
      vertical-align: middle;
      padding: 0 11px 0 6px;
      color: #fff; }

.show-more {
  position: relative;
  display: block;
  max-width: 140px;
  padding: 0 0 30px;
  margin: 12px auto 0;
  font-size: 20px; }
  .show-more::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 16px;
    background: url(../img/arrow-bottom.png) no-repeat;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0; }
  .show-more:hover {
    color: #2b9af3; }
  .show-more:focus {
    color: #2b9af3; }

.news h2 {
  color: #000; }

.news .show-more {
  margin: 40px auto 50px; }

.news .row {
  margin-left: -9px;
  margin-right: -9px; }
  .news .row [class^="col"] {
    padding-left: 9px;
    padding-right: 9px; }

.news-box__item {
  position: relative;
  margin-bottom: 7px; }
  .news-box__item img {
    display: block; }

.row-eq-height {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.news-box {
  padding: 26px 0 0; }

.news-box__overlay {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .news-box__overlay.date-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.news-box__date {
  position: relative;
  display: inline-block;
  padding: 10px 10px 10px 35px;
  width: 100px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px; }
  .news-box__date::before {
    content: '';
    position: absolute;
    left: 12px;
    top: 10px;
    width: 16px;
    height: 16px;
    background: url(../img/time.png) no-repeat; }

.news-grey {
  height: -webkit-calc(100% - 15px);
  height: calc(100% - 15px);
  padding: 30px 18px 15px;
  background: #f2f1f1; }
  .news-grey h3 {
    margin-bottom: 20px;
    text-align: center; }

.news-grey__item {
  margin-bottom: 10px;
  border-bottom: 1px solid #fff; }
  .news-grey__item:last-child {
    border: none;
    margin-bottom: 0; }
    .news-grey__item:last-child p {
      margin-bottom: 0; }
  .news-grey__item p {
    padding-bottom: 10px;
    font-size: 14px; }
    .news-grey__item p a {
      color: #5a5a5a;
      text-decoration: underline; }

.news-grey__date {
  color: #5a5a5a;
  font-size: 14px; }

.news-box__video {
  position: relative; }
  .news-box__video img {
    max-height: 254px; }

.news-box__play {
  position: absolute;
  width: 66px;
  height: 66px;
  margin: auto;
  left: 0;
  right: 0;
  top: 35%;
  z-index: 10; }

.calendar {
  padding-bottom: 50px;
  background: #191e22; }
  .calendar h2 {
    color: #fff; }

.calendar-slider {
  max-width: 945px;
  margin: 0 auto; }

.calendar-event {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.calendar-event__item {
  margin-bottom: 15px;
  font-size: 14px;
  color: #b2b2b2; }
  .calendar-event__item .color-blue {
    font-size: 18px; }

.calendar-slider {
  margin-top: 35px; }

.calendar-slider__item {
  padding-top: 50px; }

.slick-prev, .slick-next {
  content: '';
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 32px;
  top: 55%; }

.slick-next {
  right: -50px;
  background: url(../img/next.png); }
  .slick-next:hover, .slick-next:focus {
    background: url(../img/next.png); }
  .slick-next:before {
    content: ''; }

.slick-prev {
  left: -50px;
  background: url(../img/prev.png); }
  .slick-prev:hover, .slick-prev:focus {
    background: url(../img/prev.png); }
  .slick-prev:before {
    content: ''; }

.bootstrap-datetimepicker-widget table th.picker-switch {
  font-size: 24px;
  color: #b2b2b2;
  font-weight: bold; }

.datepicker-days {
  padding: 10px;
  border: 1px solid #fff; }

.bootstrap-datetimepicker-widget table thead tr:first-child th {
  position: absolute;
  left: 0;
  right: 0;
  top: -47px;
  width: 230px; }

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: transparent; }

th.dow {
  color: #b2b2b2;
  font-size: 14px; }

td.day {
  color: #5c5c5c; }

td.day.active.today {
  background-color: #2b9af3; }

.accordion-toggle {
  display: none; }

.table-condensed .next, .table-condensed .prev {
  display: none; }

.calendar-reservation {
  padding: 40px 0 0;
  text-align: center; }
  .calendar-reservation p {
    font-size: 18px;
    color: #b2b2b2; }
  .calendar-reservation .btn {
    margin-top: 20px; }

.banner {
  position: relative; }
  .banner img {
    display: block; }

.banner-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center; }
  .banner-overlay p {
    max-width: 750px;
    padding-bottom: 70px;
    margin: 0 auto 0;
    font-size: 24px;
    color: #fff;
    line-height: 33px; }

.team {
  padding-bottom: 50px; }
  .team h2 {
    color: #000; }

.team-wrapper {
  margin-top: 30px; }

.team-item {
  margin-bottom: 30px; }
  .team-item h5 {
    position: relative;
    font-weight: bold;
    z-index: 10; }

.team-item__border {
  position: relative;
  padding: 15px 20px 0;
  height: 260px;
  background: url(../img/frame-2.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  .team-item__border img {
    position: absolute;
    right: 1px;
    bottom: 1px; }

.team-item__info {
  padding: 15px 0 0;
  text-align: center; }
  .team-item__info p {
    font-size: 14px;
    color: #9c9c9c; }

.reviews {
  padding-bottom: 50px;
  background: #191e22; }
  .reviews h2 {
    color: #fff; }

.reviews-wrapper {
  padding-top: 22px; }

.reviews-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 238px;
  padding: 20px 30px;
  margin-bottom: 30px;
  background: #21272c; }

.reviews-item__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.reviews-item__img {
  width: 28%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.reviews-item__info {
  position: relative;
  width: 68%;
  min-height: 165px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px; }
  .reviews-item__info::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #fff; }

.reviews-item__header {
  width: 100%;
  margin-bottom: 15px; }
  .reviews-item__header h6 {
    color: #fff; }
  .reviews-item__header p {
    font-size: 14px;
    color: #9c9c9c;
    font-weight: 300; }

.reviews-item__text p {
  font-size: 14px;
  color: #fff;
  font-weight: 300; }

.reviews-item__header--border {
  padding-bottom: 10px;
  border-bottom: 2px solid #8e8e8e; }

.contacts {
  position: relative; }

.contacts-box {
  position: absolute;
  max-width: 350px;
  top: 0;
  bottom: 0;
  padding: 60px 20px 20px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999; }
  .contacts-box h3 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center; }

.contacts-box__item {
  position: relative;
  padding: 0 0 0 30px;
  margin-bottom: 30px; }
  .contacts-box__item h5 {
    margin-bottom: 5px;
    font-weight: bold; }
  .contacts-box__item span, .contacts-box__item a {
    display: block;
    font-weight: 300;
    color: #000; }

.contacts-address::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 22px;
  background: url(../img/geo-ic.png); }

.contacts-mail::before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 14px;
  background: url(../img/mail-ic.png); }

.contacts-phone::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 22px;
  background: url(../img/phone-ic.png); }

#googleMap {
  width: 100%;
  height: 400px; }

.instruments {
  padding-bottom: 30px; }
  .instruments h2 {
    color: #000; }

.instruments-wrapper {
  margin-top: 40px; }

.instruments-item {
  position: relative;
  margin-bottom: 30px; }

.instruments-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.instruments-info {
  padding: 30px;
  width: 100%; }
  .instruments-info h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #fff; }
  .instruments-info.instruments-info__black h3 {
    color: #000; }
  .instruments-info.instruments-info__black .instruments-info__bottom * {
    color: #000; }
  .instruments-info.instruments-info__black .instruments-info__views::before {
    background: url("../img/view-b-ic.png"); }

.instruments-info__bottom * {
  font-size: 18px;
  color: #fff;
  font-weight: 300; }

.instruments-info__views {
  position: relative;
  padding: 0 0 0 23px; }
  .instruments-info__views::before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 19px;
    height: 13px;
    background: url("../img/view-w-ic.png"); }

.feedback {
  min-height: 598px;
  background: url(../img/feedback-bg.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .feedback h2 {
    color: #fff; }
  .feedback h4 {
    color: #fff; }

.form {
  max-width: 420px;
  margin: 25px auto 0; }
  .form input, .form textarea {
    width: 100%;
    padding: 0 0 0 30px;
    margin-bottom: 18px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #fff;
    outline: none;
    background-color: transparent; }
  .form textarea {
    padding-top: 10px;
    height: 132px;
    resize: none; }
  .form .btn {
    display: block;
    width: 260px;
    margin: 14px auto 0; }

*::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  opacity: .5;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-moz-placeholder {
  color: #fff;
  font-size: 18px;
  opacity: .5;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*::-moz-placeholder {
  color: #fff;
  font-size: 18px;
  opacity: .5;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  opacity: .5;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:focus::-webkit-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus::-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-ms-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

textarea:focus::-webkit-input-placeholder {
  text-indent: 0; }

textarea:focus::-moz-placeholder {
  text-indent: 0; }

textarea:focus:-moz-placeholder {
  text-indent: 0; }

textarea:focus:-ms-input-placeholder {
  text-indent: 0; }

footer {
  padding: 60px 0;
  background: #131631;
  min-height: 80px;
  color: #fff; }

.footer-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer-item {
  position: relative; }
  .footer-item h6 {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #2b9af3; }
  .footer-item.text-right {
    padding-bottom: 130px; }
  .footer-item .btn {
    margin-top: 15px;
    width: 260px;
    height: 40px;
    line-height: 36px;
    font-size: 16px; }

.footer-links {
  list-style: none; }
  .footer-links li {
    font-size: 16px;
    line-height: 28px; }
    .footer-links li a {
      color: #fff; }

.footer-item__mail {
  margin-bottom: 35px; }
  .footer-item__mail a {
    color: #fff;
    line-height: 28px;
    font-weight: 300; }

.footer-item__tel h6 {
  margin-bottom: 10px; }

.footer__tel--item {
  margin-bottom: 15px; }
  .footer__tel--item a {
    font-size: 29px;
    color: #fff; }
  .footer__tel--item span {
    display: block;
    font-size: 14px;
    color: #9c9c9c; }

.footer-item__list {
  list-style: none; }
  .footer-item__list li {
    font-weight: 300;
    color: #fff;
    line-height: 28px; }

.copyright {
  position: absolute;
  width: 360px;
  bottom: 0;
  right: 0;
  list-style: none; }
  .copyright li {
    font-size: 14px;
    color: #9c9c9c;
    line-height: 20px; }

.modal {
  background: #131631; }
  .modal h3 {
    text-align: center;
    color: #fff; }
  .modal .form {
    background: #131631; }

@media only screen and (max-width: 1200px) {
  .header-tel {
    display: none; }
  header {
    height: 660px; }
  .frame {
    max-width: 665px;
    height: 350px;
    background: url(../img/frame-bg.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; }
  .services-item {
    min-height: 240px; }
    .services-item br {
      display: none; }
  .portfolio-info {
    position: static; }
    .portfolio-info p br {
      display: none; }
  .portfolio-item__overlay {
    padding-top: 30px; }
  .calendar-slider {
    max-width: 860px; } }

@media only screen and (max-width: 991px) {
  .header-top__wrapper {
    display: block;
    text-align: center; }
  .frame {
    height: 280px;
    margin: 40px auto 0; }
  .header-top {
    padding: 15px 0 0; }
  a.logo {
    display: inline-block;
    margin-bottom: 20px; }
  .navbar-nav > li > a {
    padding: 10px 0 12px; }
  .services-item {
    min-height: auto; }
  .portfolio-item {
    max-width: 360px;
    margin: 0 auto 30px; }
  .portfolio-info {
    position: absolute; }
  .row-eq-height {
    display: block; }
  .news-box {
    text-align: center; }
  .news-box__item {
    display: inline-block; }
  .calendar-slider__item > .row > .col-md-6 {
    margin-bottom: 40px; }
  .blue-box strong {
    font-size: 14px; }
  .banner-overlay p {
    padding-bottom: 15px;
    font-size: 16px; }
  .team-item__border {
    width: 260px; }
  .team-item {
    max-width: 262px;
    margin: 0 auto 30px; }
  .footer-wrapper {
    display: block; }
  footer {
    padding: 30px 0; }
  .footer-item {
    margin-bottom: 30px;
    text-align: center; }
    .footer-item:last-child {
      margin-bottom: 0; }
  .footer-item.text-right {
    padding: 0; }
  .copyright {
    position: static;
    width: auto;
    margin-top: 20px; }
  .calendar-slider {
    max-width: 600px; } }

@media only screen and (max-width: 768px) {
  header {
    height: auto;
    padding-bottom: 30px; }
  .navbar-toggle {
    float: none;
    padding: 0 0 0;
    margin: 0 0 10px;
    border: none;
    min-height: 25px;
    position: relative;
    z-index: 5; }
    .navbar-toggle .icon-bar {
      position: relative;
      width: 30px;
      height: 3px;
      background: #2b9af3;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }
    .navbar-toggle.active .icon-bar {
      margin: 0; }
      .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 7px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background-color: transparent; }
      .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -9px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 5px; }
  .navbar-nav > li {
    display: block;
    text-align: center; }
    .navbar-nav > li a {
      display: inline-block; }
  .frame-description p {
    font-size: 14px; }
  .frame-play__wrapper {
    margin-bottom: 45px; }
  .calendar-event {
    padding-bottom: 40px;
    padding-top: 10px; }
  .calendar-slider__item {
    padding-top: 0; }
  .calendar-slider__item > .row > .col-md-6 {
    margin-bottom: 60px; }
    .calendar-slider__item > .row > .col-md-6:last-child {
      margin-bottom: 0; }
  .bootstrap-datetimepicker-widget table thead tr:first-child th {
    font-size: 18px;
    top: -30px; }
  .contacts-box {
    position: static; }
  #googleMap {
    height: 300px; }
  .instruments-item {
    max-width: 360px;
    margin: 0 auto 30px; } }

@media only screen and (max-width: 550px) {
  .frame-description p br {
    display: none; }
  .footnote {
    margin-bottom: 10px; }
  h2 {
    font-size: 24px; }
  .blue-box {
    display: block;
    height: auto;
    padding: 20px 15px;
    text-align: center; }
    .blue-box strong {
      display: block;
      padding: 0 0 10px; }
  .calendar-slider {
    max-width: 260px; }
  .banner-overlay {
    position: static;
    padding: 10px 15px; }
    .banner-overlay p {
      color: #000;
      line-height: normal; }
      .banner-overlay p br {
        display: none; }
    .banner-overlay section {
      padding: 30px 0 30px; }
  .slick-next {
    right: -20px; }
  .slick-prev {
    left: -20px; } }
